<script>
  $(function() {
    $('.lessons').sortable({
      update: function(event, ui) {
        $.ajax({
          type: 'PUT',
          url: ui.item.data('update-url'),
          dataType: 'json',
          data: { lesson: { row_order_position: ui.item.index() }}
        });
      }
    });
  });

  $(function() {
    $('.sections').sortable({
      update: function(event, ui) {
        $.ajax({
          type: 'PUT',
          url: ui.item.data('update-url'),
          dataType: 'json',
          data: { section: { row_order_position: ui.item.index() }}
        });
      }
    });
  });
</script>

<br />
<div class="booyah-box col-10 offset-1">
  <h1 class="text-center"><%= current_course.title %></h1>
  <% if current_course.image && current_course.image.file %>
    <%= image_tag(current_course.image.url, class: 'img-fluid') %>
  <% end %>
  <br />
  <%= link_to 'Preview as student', course_path(current_course), class: 'btn btn-warning float-right' %>
  <br class="clr" />
  <div class="text-center">
    <%= link_to 'Add a section', new_instructor_course_section_path(current_course), class: 'btn btn-primary btn-lg' %>
  </div>

  <ul class="sections">
    <% current_course.sections.rank(:row_order).each do |s| %>
      <li data-update-url=<%= instructor_section_path(s) %>>
        <%= s.title %>
        <%= link_to 'New lesson', new_instructor_section_lesson_path(s), class: 'float-right btn btn-primary btn-sm' %>
        <ul class="lessons">
          <% s.lessons.rank(:row_order).each do |l| %>
            <li data-update-url=<%= instructor_lesson_path(l) %>>
              <b><%= l.title %></b>
              -
              <%= l.subtitle %>
            </li>
          <% end %>
        </ul>
        <br class="clr" />
      </li>
    <% end %>
  </ul>
</div>
